* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

body {
    background: #222;
}
.center{
    text-align: center;
    font-size: 12px;
    margin: 10px auto;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    height: 60px;
    color: #555;
    border-radius: 30px;
    padding: 10px 25px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
    border-radius: 50%;
}

.imgsize {
    height: 20px;
    width: 20px;
}

.weather-icon {
    width: 270px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 40px;
    font-weight: 400;
}

.details {
    padding: 0px 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.wind,
.humidity {
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}

@media only screen and (max-width: 300px) {
    .card {
        width: 90%;
        margin: 10% auto;
        padding: 20px;
    }

    .search input {
        height: 40px;
        padding: 5px 15px;
        font-size: 14px;
    }

    .search button {
        height: 40px;
        width: 40px;
        padding: 5px;
    }

    .weather-icon {
        width: 60px;
        margin-top: 10px;
    }

    .weather h1 {
        font-size: 24px;
    }

    .weather h2 {
        font-size: 14px;
    }

    .details {
        margin-top: 20px;
        gap: 10px;
    }

    .col img {
        width: 30px;
    }

    .wind,
    .humidity {
        font-size: 12px;
        margin-top: 6px;
    }
}